html {
    scroll-behavior: smooth;
}

section {
    padding-top: 50px;
}

.badge {
    padding: 0.6em;
    margin-bottom: .75em;
}

.hLine {
    border-top: 5px solid #000000;
    width: 30%;
}

.copyLeft {
    display: inline-block;
    transform: rotateY(180deg);
}

#mainTitle, .sectionTitle {
    animation: slideInLeft 1s ease both;
}

.nav-item, .navbar-brand {
    animation: slideInTop 1s;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
